html {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

body {
  overflow: hidden;
  background-color: #EEB868;
  color: white;
}

h1 {
  font-size: 6rem;
}

h2 {
    font-size: 3.5rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.weather-icon {
  width: 450px;
  margin-top: -100px;
}
