html {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #EEB868;
    color: white;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.flex-center {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.weather-icon {
    width: 350px;
    margin-top: -100px;
}

@media screen and (min-width:600px) {
  h1 {
      font-size: 5rem;
  }
  h2 {
      font-size: 3.5rem;
  }
  .weather-icon {
      width: 450px;
  }

}
